<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My announcements</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<a href = "/announcement">Back</a>
<br>
<a href = "/announcement/add">Add new announcement</a>

<div th:each="announcement : ${announcements}">
    <span th:text="${announcement.getTopic()}"/>
    <span th:text="${announcement.getText()}"/>
    <i th:text="${announcement.getTag()}"/>

    <div th:if="${announcement.getFilename() != null}">
        <img src="@{/img/${announcement.getFilename()}}">
    </div>

    <a th:href="@{/announcement/{id}/edit(id=${announcement.getId()})}">Edit</a>

    <form th:object="${announcement}"
          th:action="@{/announcement/{id}(id=${announcement.getId()})}"
          th:method="delete">
        <input type="submit" value="Delete"/>
    </form>
    <hr>
</div>
</body>
</html>